<form>
  <div><label for="square" >Enter a number</label></div>
  <div><input id="square" type="text" placeholder="What number do you want to take the square of?" name="number"></div> <%# name gives us our params%>
  <div><button>Calculate square</button></div>
</form>

